.noscroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  inset: 0;
  opacity: 0.4;
}

.intro {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridMotionContainer {
  gap: 2.5rem;
  flex: none;
  position: relative;
  width: 130vw;
  height: 130vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 100%;
  transform: scale(0.85);
  transform-origin: center center;
  z-index: 2;
}

.row {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(7, 1fr);
  will-change: transform, filter;
}

.rowItem {
  position: relative;
  aspect-ratio: 16 / 9;
}

.rowItemInner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.rowItemImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.rowItemContent {
  padding: 1rem;
  text-align: center;
  z-index: 1;
}
